#projects {
    padding: 3em 0;
}

#projects h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: .5em;
}

@media screen and (max-width: 450px) {
    #projects {
        padding: 1em 0;
    }
}